page-resposta-errada {
    .imgerro {
        width: 20%;
        height: 20%;
        margin: 0 auto;
      }
       
      ion-row {
        align-items: center;
        text-align: center;
      }
      
      .erro-button {
        width: 50%;
        border-radius: 30px;
        border: 1px solid #fff;
        background-color: #222341;
      }
      
      .back-erro {
        background: rgba(226, 0, 0, 0.95);
      }
      
      .vertical-align-content > * {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
      }
      
      p {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
}
