<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="back">
  <ion-grid class="grid-time">
    <ion-row class="time time-vermelho">
      <ion-col>{{time1}}</ion-col>
    </ion-row>
    <ion-row class="numeros vertical-align-content">
      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(1)}">
        <div *ngIf="!time1marcou(1)">1</div>
        <div *ngIf="time1marcou(1)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(2)}">
        <div *ngIf="!time1marcou(2)">2</div>
        <div *ngIf="time1marcou(2)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(3)}">
        <div *ngIf="!time1marcou(3)">3</div>
        <div *ngIf="time1marcou(3)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(4)}">
        <div *ngIf="!time1marcou(4)">4</div>
        <div *ngIf="time1marcou(4)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(5)}">
        <div *ngIf="!time1marcou(5)">5</div>
        <div *ngIf="time1marcou(5)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(6)}">
        <div *ngIf="!time1marcou(6)">6</div>
        <div *ngIf="time1marcou(6)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(7)}">
        <div *ngIf="!time1marcou(7)">7</div>
        <div *ngIf="time1marcou(7)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(8)}">
        <div *ngIf="!time1marcou(8)">8</div>
        <div *ngIf="time1marcou(8)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(9)}">
        <div *ngIf="!time1marcou(9)">9</div>
        <div *ngIf="time1marcou(9)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(10)}">
        <div *ngIf="!time1marcou(10)">10</div>
        <div *ngIf="time1marcou(10)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(11)}">
        <div *ngIf="!time1marcou(11)">11</div>
        <div *ngIf="time1marcou(11)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(12)}">
        <div *ngIf="!time1marcou(12)">12</div>
        <div *ngIf="time1marcou(12)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="grid-info">
    <ion-row class="vertical-align-content">
      <ion-col>
        É a vez do time
        <span class="time-span time1" *ngIf="timeDaVez == 1">{{time1}}</span>
        <span class="time-span time2" *ngIf="timeDaVez == 2">{{time2}}</span>
      </ion-col>
      <ion-col>
        <button ion-button round large (click)="sortear()" [hidden]="sorteando">Sortear números</button>
        <!-- <ion-label [hidden]="!sorteando || !sorteado">{{numero1}}</ion-label>
          <ion-label [hidden]="!sorteando || !sorteado">{{numero2}}</ion-label> 
          <ion-label [hidden]="!sorteando || !sorteado">{{numero3}}</ion-label>  
          <button ion-button round large (click)="responder()" [hidden]="!sorteado">Continuar</button> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-time grid-time-azul">
    <ion-row class="numeros bottom vertical-align-content">
      <ion-col [ngClass]="{'marcado-azul': time2marcou(1)}">
        <div *ngIf="!time2marcou(1)">1</div>
        <div *ngIf="time2marcou(1)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(2)}">
        <div *ngIf="!time2marcou(2)">2</div>
        <div *ngIf="time2marcou(2)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(3)}">
        <div *ngIf="!time2marcou(3)">3</div>
        <div *ngIf="time2marcou(3)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(4)}">
        <div *ngIf="!time2marcou(4)">4</div>
        <div *ngIf="time2marcou(4)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(5)}">
        <div *ngIf="!time2marcou(5)">5</div>
        <div *ngIf="time2marcou(5)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(6)}">
        <div *ngIf="!time2marcou(6)">6</div>
        <div *ngIf="time2marcou(6)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(7)}">
        <div *ngIf="!time2marcou(7)">7</div>
        <div *ngIf="time2marcou(7)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(8)}">
        <div *ngIf="!time2marcou(8)">8</div>
        <div *ngIf="time2marcou(8)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(9)}">
        <div *ngIf="!time2marcou(9)">9</div>
        <div *ngIf="time2marcou(9)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(10)}">
        <div *ngIf="!time2marcou(10)">10</div>
        <div *ngIf="time2marcou(10)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(11)}">
        <div *ngIf="!time2marcou(11)">11</div>
        <div *ngIf="time2marcou(11)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(12)}">
        <div *ngIf="!time2marcou(12)">12</div>
        <div *ngIf="time2marcou(12)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

    </ion-row>

    <ion-row class="time time-azul">
      <ion-col>{{time2}}</ion-col>
    </ion-row>
  </ion-grid>


</ion-content> 