<ion-content class="back">
  <ion-grid class="grid-time">
    <ion-row *ngIf="timeDaVez==1" class="numeros vertical-align-content">
      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(1)}">
        <div *ngIf="!time1marcou(1)">1</div>
        <div *ngIf="time1marcou(1)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(2)}">
        <div *ngIf="!time1marcou(2)">2</div>
        <div *ngIf="time1marcou(2)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(3)}">
        <div *ngIf="!time1marcou(3)">3</div>
        <div *ngIf="time1marcou(3)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(4)}">
        <div *ngIf="!time1marcou(4)">4</div>
        <div *ngIf="time1marcou(4)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(5)}">
        <div *ngIf="!time1marcou(5)">5</div>
        <div *ngIf="time1marcou(5)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(6)}">
        <div *ngIf="!time1marcou(6)">6</div>
        <div *ngIf="time1marcou(6)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(7)}">
        <div *ngIf="!time1marcou(7)">7</div>
        <div *ngIf="time1marcou(7)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(8)}">
        <div *ngIf="!time1marcou(8)">8</div>
        <div *ngIf="time1marcou(8)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(9)}">
        <div *ngIf="!time1marcou(9)">9</div>
        <div *ngIf="time1marcou(9)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(10)}">
        <div *ngIf="!time1marcou(10)">10</div>
        <div *ngIf="time1marcou(10)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(11)}">
        <div *ngIf="!time1marcou(11)">11</div>
        <div *ngIf="time1marcou(11)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-vermelho': time1marcou(12)}">
        <div *ngIf="!time1marcou(12)">12</div>
        <div *ngIf="time1marcou(12)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="timeDaVez==2" class="numeros bottom vertical-align-content">
      <ion-col [ngClass]="{'marcado-azul': time2marcou(1)}">
        <div *ngIf="!time2marcou(1)">1</div>
        <div *ngIf="time2marcou(1)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(2)}">
        <div *ngIf="!time2marcou(2)">2</div>
        <div *ngIf="time2marcou(2)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(3)}">
        <div *ngIf="!time2marcou(3)">3</div>
        <div *ngIf="time2marcou(3)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(4)}">
        <div *ngIf="!time2marcou(4)">4</div>
        <div *ngIf="time2marcou(4)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(5)}">
        <div *ngIf="!time2marcou(5)">5</div>
        <div *ngIf="time2marcou(5)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(6)}">
        <div *ngIf="!time2marcou(6)">6</div>
        <div *ngIf="time2marcou(6)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(7)}">
        <div *ngIf="!time2marcou(7)">7</div>
        <div *ngIf="time2marcou(7)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(8)}">
        <div *ngIf="!time2marcou(8)">8</div>
        <div *ngIf="time2marcou(8)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(9)}">
        <div *ngIf="!time2marcou(9)">9</div>
        <div *ngIf="time2marcou(9)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(10)}">
        <div *ngIf="!time2marcou(10)">10</div>
        <div *ngIf="time2marcou(10)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(11)}">
        <div *ngIf="!time2marcou(11)">11</div>
        <div *ngIf="time2marcou(11)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

      <ion-col [ngClass]="{'marcado-azul': time2marcou(12)}">
        <div *ngIf="!time2marcou(12)">12</div>
        <div *ngIf="time2marcou(12)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-row class="vertical-align-content info-col">
    <ion-col col-10>
      <h1>Informe o número, a operação desejada e o resultado.</h1>
    </ion-col>

    <ion-col col-2>
      <button ion-button outline class="temp">
        {{60-ticks}}</button>
    </ion-col>
  </ion-row>
  <br>
  <br>

  <ion-row class="vertical-align-content info-col">
    <ion-col col-4>
      <h2>Números sorteados:</h2>
    </ion-col>

    <ion-col col-8>
      <ion-label class="num-sort">{{numero1}}</ion-label>
      <ion-label class="num-sort">{{numero2}}</ion-label>
      <ion-label class="num-sort">{{numero3}}</ion-label>
    </ion-col>
  </ion-row>



  <div class="input-resposta">
    <ion-list>
      <ion-row class="info-col">
        <ion-col>
          <ion-select [(ngModel)]="number1" class="tam-select" interface="popover">
            <ion-option [value]="numero1">{{numero1}}</ion-option>
            <ion-option [value]="numero2">{{numero2}}</ion-option>
            <ion-option [value]="numero3">{{numero3}}</ion-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select class="class-inputSelect" [(ngModel)]="operacao1" interface="popover">
            <ion-option value="+">+</ion-option>
            <ion-option value="-">-</ion-option>
            <ion-option value="*">x</ion-option>
            <ion-option value="/">/</ion-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select [(ngModel)]="number2" class="tam-select" interface="popover">
            <ion-option [value]="numero1">{{numero1}}</ion-option>
            <ion-option [value]="numero2">{{numero2}}</ion-option>
            <ion-option [value]="numero3">{{numero3}}</ion-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select class="class-inputSelect" [(ngModel)]="operacao2" interface="popover">
            <ion-option value="+">+</ion-option>
            <ion-option value="-">-</ion-option>
            <ion-option value="*">x</ion-option>
            <ion-option value="/">/</ion-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select [(ngModel)]="number3" class="tam-select" interface="popover">
            <ion-option [value]="numero1">{{numero1}}</ion-option>
            <ion-option [value]="numero2">{{numero2}}</ion-option>
            <ion-option [value]="numero3">{{numero3}}</ion-option>
          </ion-select>
        </ion-col>

        <ion-col style="font-size: 48px; text-align: center; align-self: center; margin: 0px">
          <span>=</span>
        </ion-col>
        <ion-col>
          <ion-input class="class-input" [(ngModel)]="resultado" type="number"></ion-input>
        </ion-col>
        <!-- 
            <ion-input  type="number"></ion-input>
            <ion-input class="class-input" type="text"></ion-input>
      
    
            <ion-input type="number"></ion-input>
            <ion-input class="class-input" type="text"></ion-input>
      
            <ion-input type="number"></ion-input>
            <span style="font-size: 48px; text-align: center; align-self: center;">=</span>
            <ion-input type="number"></ion-input>
       -->
      </ion-row>
    </ion-list>

  </div>

</ion-content>

<ion-footer no-border>
  <ion-row class="info-col">
    <ion-col>
      <button ion-button round large style="background-color: #A4A4A4" (click)="pular()">Pular</button>
    </ion-col>
    <ion-col>
      <button ion-button round large style="background-color: #222341" (click)="conferir()">RESPONDER</button>
    </ion-col>
  </ion-row>
</ion-footer>